<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Network builder</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/model.css"/>


</head>
<body>
    <div class="container-fluid">
        <div class="row header-row">
            <h1>Network Builder</h1>
        </div>
        <div class="network-pane">
            <h3>Loading content...</h3>
        </div>
        <div class="action-pane">
            <div class="row">
                <div class="col-md-6">
                    <h5>Console output</h5>
                    <textarea id="log" rows="10" cols="50" readonly="true">


                    </textarea>

                </div>
                <div class="col-md-6">
                    <div id="context-menu">

                    </div>

                </div>

            </div>

        </div>
        <div class="challenge">
            <div class="row">
                {% include 'task3.html' %}

            </div>

        </div>

    </div>
    <script src="/static/js/model.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        $(function() {
	        task_four();
        });
    </script>

</body>
</html>