<div>
    <h5>Network Builder task two - IP Addressing</h5>
    <p>Physical addresses are all very well for the local subnet, but if we want to communicate with computers all
    over the world we are going to need an IP (Internet Protocol) Address. These are used across the internet to
    identify computers and allow messages sent over the internet to get to where they need to go.</p>
    <br/>
    <p>IP Addresses are made up of 4 numbers between 0 and 255 seperated by dots (.) - eg. '192.168.5.10'</p>
    <br/>
    <h5>Dynamic Host Configuration Protocol (DHCP)</h5>
    <p>How do computers get an IP address? We could set a static (fixed) address but what about if we are using a
    computer in a network? If everyone set their own address it would cause chaos and we could end up with all sorts
    of problems. To solve this, we use DHCP to send out a request to the network for an IP adress. Any servers
     listening will reply and assign us an IP address.</p>
    <br/>

    <h6>Task one: Set Bob's PC to use static IP addressing with the following info:</h6>
    <p>IP address: 192.168.0.99, subnet mask:255.255.255.0, Default Gateway: 192.168.0.1</p>
    <br/>
    <h6>Task two: Obtain an IP address for Bob's Laptop via DHCP</h6>
    <br/>
    <p>Once you have completed the two tasks press the button below to check your work. A flag will be awarded if
     Bob's PC and Bob's laptop have been configured correctly.</p>
    <br/>
    <button id="task-two-submit" class="btn btn-primary">Check Answers</button>
    <h6 id="task-two-message"></h6>
    <br/><br/>



</div>