<div>
    <h5>Network Builder task two - Network Addresses</h5>
    <p>Computers are a lot like houses - they have addresses which let us know where to find them.
        What makes it more complicated is that there is more than one type of address that we use to describe computers.
        This challenge will look at a couple of ways that we can identify individual computers.</p>
    <p>Work through the tasks and complete the questions, which will reveal the flag needed to complete the challenge.</p>
    <br/>
    <h5>Physical address</h5>
    <p>Every network card on a computer has a physical address, also known as a MAC address. This address is unique to
    that network interface and is used to talk to other computers within the local part of the network (known as
    the subnet).</p>
    <br/>
    <form action="/task1" method="post" target="_blank">
        <h6>Question 1: What is the MAC Address for the Ethernet interface on Bob's PC</h6>
        <input type="text" name="q1"/><br/>
        <h6>Question 2: Which company made the Ethernet interface on Bob's PC?</h6>
        <input type="text" name="q2"/><br/>
        <input type="submit"/>
    </form>



</div>